## see https://docs.kicad.org/7.0/en/kicad/kicad.html re file names/uses

Private/
*-backups/
*.bak
*.lck
*.kicad_pcb-before
*auto_saved*
report.txt
DRC.rpt

*.erc
*.net
*-cache.lib
*-rescue.lib

*.kicad_prl
fp-info-cache
